
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.dll
*.pdb
*.csproj
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
*.dll
/QuanLiHocSinh/BIN/BUS.*
/QuanLiHocSinh/BIN/DAO.*
/QuanLiHocSinh/BIN/DTO.*
/QuanLiHocSinh/BIN/BUS.dll
/QuanLiHocSinh/BIN/BUS.dll
/QuanLiHocSinh/BIN/BUS.pdb
/QuanLiHocSinh/BIN/DAO.dll
/QuanLiHocSinh/BIN/DAO.pdb
/QuanLiHocSinh/BIN/DTO.dll
/QuanLiHocSinh/BIN/DTO.pdb
/QuanLiHocSinh/BUS/obj/Debug/BUS.dll
/QuanLiHocSinh/BUS/obj/Debug/BUS.pdb
/QuanLiHocSinh/DAO/obj/Debug/DAO.dll
/QuanLiHocSinh/DAO/obj/Debug/DAO.pdb
/QuanLiHocSinh/DTO/obj/Debug/DTO.dll
/QuanLiHocSinh/DTO/obj/Debug/DTO.pdb
/QuanLiHocSinh/QuanLiHocSinh/obj/Debug/QuanLiHocSinh.pdb
/QuanLiHocSinh/BIN/BUS.dll
/QuanLiHocSinh/BIN/BUS.pdb
/QuanLiHocSinh/BIN/BUS.dll
/QuanLiHocSinh/BIN/BUS.dll
/QuanLiHocSinh/BIN/BUS.pdb
/QuanLiHocSinh/BIN/DAO.dll
/QuanLiHocSinh/BUS/BUS.csproj
/QuanLiHocSinh/BIN/BUS.dll
/QuanLiHocSinh/BIN/BUS.pdb
/QuanLiHocSinh/BIN/DAO.dll
/QuanLiHocSinh/BIN/DAO.pdb
/QuanLiHocSinh/BIN/DTO.dll
/QuanLiHocSinh/BIN/DTO.pdb
/QuanLiHocSinh/BUS/obj/Debug/BUS.csproj.FileListAbsolute.txt
/QuanLiHocSinh/BUS/obj/Debug/BUS.dll
/QuanLiHocSinh/BUS/obj/Debug/BUS.pdb
/QuanLiHocSinh/DAO/obj/Debug/DAO.csproj.FileListAbsolute.txt
/QuanLiHocSinh/DAO/obj/Debug/DAO.dll
/QuanLiHocSinh/DAO/obj/Debug/DAO.pdb
/QuanLiHocSinh/DTO/obj/Debug/DTO.csproj.FileListAbsolute.txt
/QuanLiHocSinh/DTO/obj/Debug/DTO.dll
/QuanLiHocSinh/DTO/obj/Debug/DTO.pdb
/QuanLiHocSinh/QuanLiHocSinh/obj/Debug/QuanLiHocSinh.csproj.FileListAbsolute.txt
/QuanLiHocSinh/QuanLiHocSinh/obj/Debug/QuanLiHocSinh.csproj.GenerateResource.Cache
